section > div {
	border: 1px solid black;
}

h3.drug_name {
	display: none;
}

section > div.correct.clicked {
	background-color: #60d560;
}

section > div.clicked {
	background-color: red;
}

section > div.clicked h3.drug_name {
	display: block;
}

section > div.clicked.correct h3.drug_name {
	display: none;
}

.redacted {
	background-color: black;
}

div.clicked .redacted {
	display: none;
}

span.name {
	display: none;
}

div.clicked span.name {
	display: inline;
}
